.add-money-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    align-items: center;
    background-color: #F4FAF2;
    border: 1px solid #E7EDE2;
    max-width: 100%;
    width: 400px;
    margin: auto;
    margin-top:100px;
}

.all-labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .row-container {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        
        .x-bills {
            color: #a7a7a7;
            font-weight: bold;
            font-size: 16px;
        }
    }
}


.count-input {
    padding:5px;
    width: min-content;
    max-width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: none;
    border: 2px solid black;
    border-radius: 4px;
}

.btn-increase, .btn-decrease {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid grey;

    &:hover {
        background-color: #a7a7a7;
    }
}