.box-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.change-money-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    align-items: center;
    background-color: #FAFAFA;
    padding: 20px;
    border: 1px solid #E7EDE2;
    max-width: 85%;
    width: 400px;
    margin-top:100px;
}

.row-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
    .x-bills {
        color: #a7a7a7;
        font-weight: bold;
        font-size: 16px;
    }


}

.x-bills.large {
    font-size:20px;
}