.the-cash-register {
    color: #a7a7a7;
    top: 0px;
    background-color: #2B3134;
    padding: 20px;
    text-align: center;
    margin-block: 0;
    font-size: 3em;
    font-weight: 100;
}




.the-register {
    background-color: #2B3134;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .text-saying-total {
        font-family: 'Inter', sans-serif;
        margin-block-start: 0;
        margin-block-end: 0;
        color: #a7a7a7;
        text-align: left;
        transform: translate(0px,35px);
    }
    .total-amount-text {
      display: flex;
      align-items: center;
      font-weight: 400;
      justify-content: center;
      .dollar-sign {
        vertical-align: center;
        text-align: center;
        font-size: 5em;
        color: #7EC636;
        font-weight: bold;
      }
      .actual-dollars {
        color: #7EC636;
        font-size: 6em;
        font-weight: bold;
      }
    }
    .all-denoms {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 10px;
      color: #A7A7A7;
      .denom-container {
        display: flex;
        flex-direction: row;
        gap: 5px;
        .denom-count {
          text-align: center;
          font-size: 2em;
          justify-self: flex-end;
          align-self: flex-end;
          align-items: flex-end;
        }
        .denom-type {
          font-size: 2em;
          color: #7EC636;
          text-align: center;
        }
      }
    }
  }
  

//   .rotated-text {
//     transform: rotate(-90deg); 
//     // transform-origin: left top; 
//     transform-origin: right bottom;
//     position: absolute; 
//     left: 0; 
//     top: 0; 
//     white-space: nowrap; 
//     color: white;
//     font-size: 2em;
//   }

  // Media query for larger screens
  @media only screen and (min-width: 1024px) {
    .the-register {
      flex-direction: row;
      gap: 30px;
    }
  }
  
  // Media query for smaller screens
  @media only screen and (max-width: 480px) {
    .the-register .total-amount-text .actual-dollars {
      font-size: 4em; /* Adjust the font size as needed */
    }
  }
  