* {
  box-sizing: border-box;
}

.App {
  max-width: 100%;
  margin: auto;
  color: #262626;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

.all-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}


@media only screen and (min-width: 1024px){
  .all-actions-container {
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;

  }
}
